.ai-chat{
position: fixed;
 bottom: 12%;
 right: 5%
}
@media (max-width:1024px){
    .ai-chat{
        position: fixed;
         bottom: 11%;
         right: 5%
        }
}

@media (max-width:500px){
    .ai-chat{
        position: fixed;
         bottom: 11%;
         right: 10%
        }
}