.ai-chat{
position: fixed;
 bottom: 15%;
 right: 5%
}
@media (max-width:1024px){
    .ai-chat{
        position: fixed;
         bottom: 14%;
         right: 5%
        }
}

@media (max-width:500px){
    .ai-chat{
        position: fixed;
         bottom: 13%;
         right: 10%
        }
}